html, body {
	margin: 0;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
    flex: 1 1 auto;

}

.header {
    background-color: gray;
    with: 100%;
    height: 70px;
    flex-direction: flex-start;
    text-align: center;
}

.footer {
    background-color: gray;
    with: 100px;
    height: 70px;
}

.extra {
    display: inline-block;
    background-color: fuchsia;
}