<!DOCTYPE html>
{% load static %}

<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">
</head>

<body>

<div class="wrapper">
    <header class="header">
        <a href="{% url 'main_page' %}">MAIN</a> |
        <a href="{% url 'articles' %}">ARTICLES</a> |
        <a href="{% url 'archive' %}">ARCHIVE</a> |
        {% if user.is_authenticated %}
            logined as <b>{{user.username}}</b>
            <a href="{% url 'logout' %}">logout</a> / <a href="{% url 'pass_chng' %}">change password</a>
        {% else %}
            <a href="{% url 'login' %}">login</a> / <a href="{% url 'register' %}">register</a>
        {% endif %}

    </header>

	<main class="main">
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="footer">
        <a href="{% url 'main_page' %}">MAIN</a><br>
        <a href="{% url 'articles' %}">ARTICLES</a><br>
        <a href="{% url 'archive' %}">ARCHIVE</a>
    </footer>
</div>


</body>
</html>
