{% extends 'base.html' %}

{% block content %}

<h1>Практика/Домашка:</h1>


<ol>
<li>Получить 5 последних написанных комментариев (именно текст)</li>
    <ul>
      {% for comment in task1 %}
        <li>{{ comment.comment }}</li>
      {% endfor %}
    </ul>
    <br>

<li>Создать 5 комментариев с разным текстом, Хотя бы один должен начинаться со слова "Start", хоть один в середине должен иметь слово "Middle", хоть один должен заканчиваться словом "Finish".</li>
    <ul>
      <li>{{ task2 }}</li>
    </ul>
    <br>

<li>Переписать сейв комментария так, что бы при создании дата менялась бы на год назад (если сегодня 20 декабря 2021, должна выставляться 20 декабря 2020), изменение комментариев не затрагивать.</li>
    <ul>
      <li>{{ task3 }}</li>
    </ul>
    <br>

<li>Изменить комментарии со словами "Start", "Middle", "Finish".</li>
    <ul>
      <li>{{ task4 }}</li>
    </ul>
    <br>



<li>Удалить все комментарии у которых в тексте есть буква "k", но не удалять если есть буква "с".</li>
    <ul>
      <li>{{ task5 }}</li>
    </ul>
    <br>



<li>Получить первые 2 комментария по дате создания к статье у которой имя автора последнее по алфавиту.</li>
    <ul>
      {% for comment in task6 %}
        <li>{{ comment.comment }}</li>
      {% endfor %}
    </ul>


</ol>

{% endblock %}
